@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff'), url('../fonts/Gilroy-Regular.woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff'), url('../fonts/Gilroy-Medium.woff2');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Semibold.woff'),
		url('../fonts/Gilroy-Semibold.woff2');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.woff'), url('../fonts/Gilroy-Bold.woff2');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
